<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Musicka</title>
		
		<meta name="viewport" content="user-scalable = no, initial-scale = 1.0, minimum-scale = 1.0, maximum-scale = 1.0" />
		<!-- Stylesheets -->
		<link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="stylesheets/bootstrap-responsive.css">
		<!-- Imports -->
		<script src="scripts/jquery.min.js"></script>
		<script src="scripts/swfobject.js"></script>
		<!-- Definition -->
		<script src="scripts/define.js"></script>
		<!-- Core client imports -->
		<script src="scripts/song.js"></script>
		<script src="scripts/musicplayer.js"></script>
		<script src="scripts/clientcontrol.js"></script>
		<!-- Main JS Entry point -->
		<script src="scripts/main.js"></script>
	</head>
	
	<body>
		<div class="container-fluid">
			
			<div class="page-header">
				<h1>Musicka<small> Social Music Recommender</small></h1>
			</div>
			
			<label><small>Add YouTube song to playlist</small></label>
			<div class="row-fluid">
				<div class="input-append">
					<input class="input-xlarge" id="songUrlField" type="text" placeholder="Enter YouTube URL here..." value="">
					<button class="btn btn-primary" id="addSongBtn">Add</button>
				</div>
			</div>
			
			<table class="table table-condensed table-bordered" id="playList">
				<caption><strong>Your playlist</strong></caption>
				<thead>
					<th>Title</th>
					<th>Rating</th>
				</thead>
				<tbody>
					
				</tbody>
			</table>
			
			<div class="row-fluid">
				<div class="span12">
					<div id="ytapiplayer">
						You need Flash player 8+ and JavaScript enabled to view this video.
					</div>
				</div>
			</div>
		</div>
	</body>
</html>